body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#f0f0f0;
}

.calculator{
  background:white;
  padding:20px;
  border-radius:10px;
}

button{
  width:50px;
  height:50px;
  margin:5px;
  font-size:20px;
}

#display{
  width:220px;
  height:40px;
  margin-bottom:10px;
  font-size:20px;
}